{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["flow", ["env"]]
    }
  }
}
